/* Other pages */

.page{
  display: flex;

}
.home{
width: 85vw;
}
.page h1{
  text-align: center;
  font-size: 50px;
  margin: 1vh auto;
  /* font-family: 'Limelight', cursive; */
}
.page h2{
  text-align: center;
  font-size: 30px;
  margin: 1vh auto;
}

.container{
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content:center;
  /* background-color: #2691d9; */
}
.sel{
  /* background-color: aqua; */
}
.sel label{
  font-size: 18px;
  font-weight: 600;
}
.sel select{
  width: 55%;
  height: 40px;
  border: 2px solid #adadad;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 16px;
}

.variable-box{
  text-align: center;
  padding-top: 2vh;
  margin: auto 2vw;
  background-color: #FFFFFF;
  border: 1px solid silver;
  width: 20vw;
  height: 18vh;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
}
.variable-box:hover{
    box-shadow: 0 26px 58px 0 #2691d9, 0 5px 14px 0 #2691d9;
}
.variable-box h2{
  font-size: 22px;
}
.variable-box p{
  margin: 10px;
  font-size: 18px;
  /* background-color: beige; */
}
.bcls{
  margin: 5vh auto;
  display: flex;
  justify-content: center;
}
.fbutton{
  width: 15%;
  height: 40px;
  background: #2691d9;
  color: #e9f4fb;
  border: 1px solid;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 5vw;
}
.fbutton:hover{
  background: #FFFFFF;
  border: 2px solid #2691d9;
  color: #2691d9;
}

.link{
  /* background-color: aqua; */
  text-decoration: none;
  color: #e9f4fb;
  height: 100px;
}
.link:hover{
  color: #2691d9;
}

.cell{
  margin: 0px 2vw;
}
.r{
  color: red;
  text-decoration: none;
}
.g{
  color: green;
  text-decoration: none;
}


/* widget box */
/* .details{
  background-color: #F3F8FB;
} */
.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
  border-radius: 10px;
  height: 18vh;
  max-width: 22vw;
  background-color: #FFFFFF;
}

  .widget .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vh 0;
  }

  .widget .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5vh 1vw;

  }
    .left .title {
      font-weight: bold;
      font-size: 18px;
      color: rgb(160, 160, 160);
    }

    .left .num {
      font-size: 22px;
      font-weight: 300;
    }

    .left .link {
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .right .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      /* &.positive {
        color: green;
      }
      &.negative {
        color: red;
      } */
    }

    .icon {
      border-radius: 8px;
      align-self: flex-end;
    }

